

/* General Styles */
:root {
  --primary-color: #d32f2f; /* Red accent */
  --text-color-light: #ffffff;
  --text-color-dark: #333333;
  --bg-light: #ffffff;
  --bg-dark: #121212;
  --hover-bg: rgba(211, 47, 47, 0.1);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-color-dark);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
    color: var(--text-color-light);
  }
}

/* imports */
@import 'robot.scss';
@import 'nav.scss';

